.Playlist{
    margin-top: 60px;
    margin-left: 17vw;
}
.PlaylistHead{
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
}

.addbtn{
    margin: 0px 20px;
    padding: 80px;
    background-color: aqua;
    color: rgb(0, 0, 0);
    width: max-content;
    border: 2px solid black;
    margin: auto;
    font-weight: bolder;
    font-size: x-large;
}